@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Medium.ttf");
}
* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  /* box-sizing: border-box; */
}

:root {
  --bg-color: #eeeeee;
  --secondary-color: #38a7c8;
  --light-gray: #f5f5f5;
  --bg-white: white;
}

.app {
  overflow-x: hidden;
  overflow-y: hidden !important;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e0b702bd, #d9c934, #ffac46ce);
  font-family: "Inter";
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #333;
}
a:hover {
  color: #333;
  opacity: 0.8;
}
.spacing {
  height: 2px;
  background-color: var(--light-gray);
  margin: 10px;
}
.mobile-menu {
  display: none !important;
}
.desktop-menu {
  display: block !important;
  /* filter: invert(1) */
}

.ant-layout {
  background: transparent;
}
/* navbar */

.navbar {
  height: 60px;
  /* padding: 0px 20px; */
  /* background-color: var(--bg-white); */
  /* background-color: #262e3c; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid black !important; */
  /* border-color: var(--light-gray) !important; */
  position: sticky !important;
  top: 0 !important;
  width: 76%;
  margin: auto;
}
.navbar-bg {
  padding: 5px 0px;
  background-color: rgba(255, 255, 255, 0.755);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  margin-bottom: 40px;
}
.logo-img {
  margin-left: 10px;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right-icon {
  background-color: var(--secondary-color);
  padding: 8px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-right-icon > p {
  margin: 0px !important;
  margin-left: 5px !important;
  color: white;
}
.navbar-right-icon img {
  filter: invert(1);
}

.d {
  background-color: red !important;
  padding: 20px !important;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px !important;
}
.search {
  background-color: var(--bg-color) !important;
  padding: 8px 10px !important;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.search > input {
  border: none;
  background-color: var(--bg-color);
  outline: none;
  /* padding: 8px 10px !important; */
}

.sidebar {
  background-color: var(--bg-white) !important;
  color: gray;
  padding-top: 20px;
  height: full;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  height: 75vh;
}

/* ------home page-------- */

.home-page {
  /* margin: 20; */
  margin-left: 40px;  
  margin-right: 40px;  
  margin-bottom: 20px;
  top: 500px !important;
}

.ant-card-meta-title {
  margin: 0px !important;
}

.user-avatar-offline {
  background-color: #bdc3c7;
  border-radius: 50%;
  animation: avatarOffline 2s infinite;
  position: relative;
  right: 30px;
}

@-webkit-keyframes avatarOffline {
  0% {
    -webkit-box-shadow: 0 0 0 0 #bdc3c7;
  }
  70% {
    -webkit-box-shadow: 0 0 0 16px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes avatarOffline {
  0% {
    -moz-box-shadow: 0 0 0 0 #bdc3c7;
    box-shadow: 0 0 0 0 #bdc3c7;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.koompi-logo {
  width: 65%;
}

/* ----responsive------ */
@media screen and (max-width: 1600px) {
  .ant-card-cover img {
    height: 150px !important;
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .containers {
    width: 98% !important;
  }
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
    margin: 10px !important;
  }
  .ant-layout-sider.ant-layout-sider-dark.sidebar {
    display: none;
  }
  .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.sidebar {
    display: none;
  }
  /* .ant-drawer-body {
    padding: 10px 0 !important;
    display: block !important;
  } */
  /* .ant-drawer-content-wrapper {
    display: block !important;
  } */
  .ant-drawer-mask {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-avatar-offline {
    position: relative;
    right: 0px !important;
  }
  .ant-card-cover img {
    height: 200px !important;
  }
  .site-layout {
    padding: 0px !important;
  }
  .navbar {
    display: flex;
  }
  .navbar-left {
    display: flex;
    flex: 3;
  }
  .search {
    margin-left: 10px;
  }
  .search > input {
    width: 60px;
  }
  .ant-layout-sider.ant-layout-sider-dark.sidebar {
    display: none;
  }
  .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.sidebar {
    display: none;
  }
  /* .ant-drawer-body {
    padding: 10px 0 !important;
    display: block !important;
  } */
  /* .ant-drawer-content-wrapper {
    display: block !important;
  } */
  .ant-drawer-mask {
    display: block !important;
  }
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
    margin: 10px !important;
  }
  .navbar-right-icon {
    margin-left: 5px;
  }
  .navbar-right-icon > p {
    display: none;
  }
  .navbar-right-icon img {
    filter: invert(1);
  }
}

.containers {
  width: 80%;
  margin: auto;
}
.card-img {
  /* width: 100%;
  border-radius: 5px;
  height: 100%; */
  height: 10rem;
  /* background-position: 40%; */
  background-size: cover;
  border-radius: 12px;
  width: 100% !important;
}
.bg-card {
  border-radius: 12px;
}
.card-glass {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.755);
  border-radius: 12px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.card-title {
  text-align: center;
  margin-top: 12px;
  border-radius: 16px;
  padding: 10px;
  padding-top: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 2px; */
  border: 1px solid rgb(234, 234, 234);
  background-color: rgba(255, 255, 255, 0.589);
}
.card-title h1 {
  font-size: 1.2rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 5px;

  /* margin-bottom: -6px; */
}
.card-title p {
  font-size: 0.9rem;
}
.footer-bg {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(234, 234, 234);
  background-color: rgba(255, 255, 255, 0.589);
  padding: 20px;
}
.lg-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  cursor: pointer;
  z-index: 1;
}

/* .flag-size {
  width: 70%;
} */
/* .card-title-bg {
  height: 12px;
  background-size: cover;
  border-radius: 6px !important;
} */
